.main {
	width: 1338px;
	background: linear-gradient( red, gray, green);
	height: 1000px;
	padding-top: 63px;
}
.flag{
	height: 300px;
	width: 588px;
	background: radial-gradient(circle,red 34%, green 0%);
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: relative;
}
.bash {
	position: absolute;
	left: 0;
	top: -12px;
	margin: auto;
	height: 800px;
	width: 20px;
	background-color: black;
	border-radius: 10px 10px 0 0;
}
.land {
	background-color: gray;
	height: 63px;
	width: 119px;
	position: absolute;
	left: -45px;
	bottom: 0;
}
.sun {
	height: 100px;
	width: 100px;
	background-color: rgb(247, 247, 77);
	border-radius: 50%;
	position: absolute;
	right: 335px;
	top: 401px;
	margin: auto;
}
.icons .fas.fa-ship {
	font-size: 36px;
	position: absolute;
	right: 541px;
	bottom: 10px;
	color: #c0c89a;
}
.land2 h2 {
	font-family: 'Dancing Script', cursive;
	position: relative;
	left: 127px;
	top: 316px;
	color: gray;
	font-size: 80px;
}
