.header {
	padding: 10px;
	background-color: rgb(132, 132, 219);
	margin-bottom: 1px;
}
.nav-body {
	position: relative;
}
.nav-body .nav{
	width: 20%;
	height: 600px;
	background-color: #ef5777;
}
.nav-body .body{
	width: 80%;
	height: 500px;
	background-color: #ff3f34;
	position: absolute;
	top: 0;
	right: 0;
}
.nav-body .footer{
	width: 80%;
	height: 100px;
	background-color: #05c46b;
	position: absolute;
	right: 0;
	bottom: 0;
}
h2 {
	text-align: center;
	color: #fff;
	font-size: 33px;
	text-transform: uppercase;
}
/* buttons */
.buttons {
	margin: 20px 0;
}
.b {
	padding: 18px 58px;
	font-size: 18px;
	color: #ffff;
	margin-bottom: 8px;
	border: 0;
	border-radius: 57px;
}
.b.b1{

	background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); 

}
.b.b2{

	background: linear-gradient(to right, #000046, #1cb5e0); 

}
.b.b3{

	background: linear-gradient(to right, #eb5757, #000000); 
}
.b.b4{

	background: linear-gradient(to right, #d66d75, #e29587); 
}
.b.b5{

	background: linear-gradient(to right, #20002c, #cbb4d4); 
}
.b.b6{

	background: linear-gradient(to right, #6190e8, #a7bfe8); 
}
.b.b7{

	background: linear-gradient(to right, #44a08d, #093637); 
}
.positions{
	position: relative;
	height: 800px;
}
.positions img {
	width: 331px;
	height: auto;
}
.positions img:nth-child(9) {
	position: absolute;
	bottom: 0;
	right: 0;
}
.positions img:nth-child(8){
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.positions img:nth-child(7){
	position: absolute;
	left: 0;
	bottom: 0;
}
.positions img:nth-child(6){
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.positions img:nth-child(5){
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.positions img:nth-child(4){
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.positions img:nth-child(3){
	position: absolute;
	right: 0;
	top: 0;
	margin: auto;
}
.positions img:nth-child(2){
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;

}
.positions img:nth-child(1){
	position: absolute;
	left: 0;
	top: 0;
}